/* body {
    font-family: 'Arial', sans-serif;
    background-color: #aeaeae;
    margin: 0;
    padding: 0;
}

h3, h1 {
    text-align: center;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
}

.card h3 {
    color: #333;
}

.card p {
    color: #555;
}

.card button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.card button:hover {
    background-color: #45a049;
}

.card ol {
    list-style-type: none;
    padding: 0;
}

.card li {
    margin-bottom: 10px;
}

.card span {
    display: block;
    margin-top: 10px;
}

.card button:last-child {
    background-color: #e74c3c;
}

.card button:last-child:hover {
    background-color: #c0392b;
}

/* .grandtotal{
    padding-bottom: 50px;
    overflow: hidden;
    position: fixed;
} */ 