/* font judul tmii */
@font-face {
    font-family: walto;
    src: url(font/waltographUI.ttf);
}

/* icon */
@font-face {
    font-family: roma;
    src: url(font/ROMANUS.otf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(23, 23, 73);
}

.container {

}


/* navbar */
.navbar {
    width: 90%;
    pad: 30px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 160px;
    margin-top: -10px;
    cursor: pointer;
    font-family: walto;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 20px;
    font-family: roma;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    background: transparent;
}

li a:hover {
    background: #fff;
    transition: 0.5s;
    text-decoration: none;
}

.navbar a:hover {
    color: rgb(49, 40, 113);
}

.info1 {
    position: relative;
    color: aliceblue;
    background-color: rgb(33, 32, 30);
    margin-left: 40vh;
}