@font-face {
    font-family: reguler;
    src: url(font/PTSans-Regular.ttf);
}

/* text reguler */
@font-face {
    font-family: ost;
    src: url(./font/ostrich-black.ttf);
}

/* font judul tmii */
@font-face {
    font-family: walto;
    src: url(font/waltographUI.ttf);
}

/* icon */
@font-face {
    font-family: roma;
    src: url(font/ROMANUS.otf);
}

/* judul */
@font-face {
    font-family: judul;
    src: url(./font/Catchy\ Mager\ Regular.ttf);
}



* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(./img/Group\ 2.png);
    margin: 0;
    padding: 0;
}

.bg {
    width: 100%;
} 
  
/* navbar */
.navbar {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    pad: 33px 9%;
    background: rgb(0, 0, 0);
}


.logo {
    width: 100px;
    padding: 10px;
    margin-left: 20px;
    cursor: pointer;
    font-family: walto;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 20px;
    font-family: roma;
    color: #fff;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    background: transparent;
} 

li a:hover {
    background: #000000;
    transition: 0.5s;
    text-decoration: none;
}

.navbar a:hover {
    color: rgb(49, 40, 113);
}


/* button beli */
.btn-bt {
    width: 100px;
    padding: 2px;
    text-align: center;
    border-radius: 25px;
    border: 2px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
    font-family: reguler;
    color: rgb(255, 255, 255);
    background-color: rgb(103, 12, 12);
}

button:hover {
    background: rgb(61, 61, 169);
    transition: 0.5s;
}

/* info1 */
.info-1 {
    margin-top: 10vh;
}

.box {
    position: absolute;
    left: -10vh;
    margin-top: 10vh;
    width: 600px; 
    border-radius: 50px;
    height: 130px; 
    background-color: #000000; 
}

.jdl {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-60%, -50%); 
    color: #ffffff; 
    font-size: 33px; 
    font-family: walto;
}

.text-1 {
    position: absolute;
    top: 45vh;
    color: #fff;
    left: 5vh;
    padding: 10px;
    width: 50%;
    height: 25%;
    font-size: 25px;
    font-family: reguler;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5),
    -2px -2px 4px rgba(255, 0, 0, 0.5);
}

.img-1 {
    position: absolute;
    margin-top: 10vh;
    left: 110vh;
    background-color: #000000;
    width: 80vh;
    border-radius: 20px;
}

.bg-1 {
    width: 100%;
    height: auto;
    }
      
@media (min-width: 768px) {
    img {
        width: 50%; 
    }
}
@media (min-width: 1024px) {
    img {
    width: 40%; 
    }
}

.wb {
    position: relative;
    
}


/* text2 */
.text-2 {
    position: relative;
    top: 20vh;
    background-image: url(./img/wpp-batik.webp);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

/* bg slide 2 */
.bg-2 {
    width: 100%;
    height: auto;
    }
      
@media (min-width: 768px) {
    img {
        width: 50%; 
    }
}
@media (min-width: 1024px) {
    img {
    width: 40%; 
    }
}

.wb {
    position: relative;
    
}

/* lainnya */
.wb {
    background-color: #000000;
    color: #fff;
    border-radius: 20px;
    
}


/* img ada 7 */
html {
    margin: 0;
    padding: 0;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.container {
    background-image: linear-gradient(to right, #00416a , #e4e5e6);
    color: #212121;
    font-size: 12px;
    min-height: 100%;
    min-width: 320px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.section-header {
    display: block;
    margin-top: 20px;
    position: relative;
    text-align: center;
}

section {
    padding-top: 50px;
    overflow: hidden;
    position: relative;
}

a, a:link, a:visited {
    color: #212121;
    text-decoration: none;
}

.Carousel-slider {
    height: 560px;
    position: relative;
    width: 100%;
}

.Carousel-slider.fullwidth {
    height: 500px;
}

.Carousel-slider.fullwidth .slider-item {
    height: 480px;
    line-height: 480px;
    width: 100%
}

.slider-wrapper {
    overflow: hidden;
    position: relative;
    transform-style: preserve-3d;
    transform-origin: 0 50%;
	perspective: 800px  !important;
}

.slider-item {
    box-shadow: 0 1px 3px rgba(0,0,0,.06), 0 1px 2px rgba(0,0,0,.12);
    display: none;
    height: 320px;
    width: 320px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    cursor: pointer;
	border: 5px solid #070707;
}

.indicators {
	top: 0;
    left: 50%;
    padding: 0;
    list-style-type: none;
    margin: 40px 0 0 -77px;
    position: absolute;
}

.indicators li {
    color: #255f8b;
    float: left;
    height: 16px;
    margin-right: 8px;
    text-align: center;
    width: 16px;
}

.indicators li:last-child {margin: 0;}
.indicators a {
    background: #00416a;
    border-radius: 8px;
    display: inline-block;
    height: 16px;
    width: 16px;
}

.indicators .active a {
	background: #e4e5e6;

}
.image1 {background-image: url(img/1500x1000-angling.jpg); border-radius: 50px !important; height: 100px;}
.image2 {background-image: url(img/1500x1000-cagv1.jpg); border-radius: 50px !important;}
.image3 {background-image: url(img/1500x1000-jagatsatwa.jpg); border-radius: 50px !important;}
.image4 {background-image: url(img/1500x1000-keretagantung.jpg); border-radius: 50px !important;}
.image5 {background-image: url(img/1500x1000-merchstore.jpg); border-radius: 50px !important;}
.image6 {background-image: url(img/1500x1000-musindo-1.jpg); border-radius: 50px !important;}
.image7 {background-image: url(img/1500x1000-tirtacerita-2.jpg); border-radius: 50px !important;}
