@font-face {
    font-family: reguler;
    src: url(font/PTSans-Regular.ttf);
}

/* text reguler */
@font-face {
    font-family: ost;
    src: url(./font/ostrich-black.ttf);
}

/* font judul tmii */
@font-face {
    font-family: walto;
    src: url(font/waltographUI.ttf);
}

/* icon */
@font-face {
    font-family: roma;
    src: url(font/ROMANUS.otf);
}

/* judul */
@font-face {
    font-family: judul;
    src: url(./font/Catchy\ Mager\ Regular.ttf);
}



* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(./img/Group\ 2.png);
    margin: 0;
    padding: 0;
}

.bg {
    width: 100%;
} 
  
/* navbar */
.navbar {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    pad: 33px 9%;
    background: rgb(0, 0, 0);
}


.logo {
    width: 100px;
    padding: 10px;
    margin-left: 20px;
    cursor: pointer;
    font-family: walto;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 20px;
    font-family: roma;
    color: #fff;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    background: transparent;
} 

li a:hover {
    background: #000000;
    transition: 0.5s;
    text-decoration: none;
}

.navbar a:hover {
    color: rgb(49, 40, 113);
}


/* button beli */
.btn-bt {
    width: 100px;
    padding: 2px;
    text-align: center;
    border-radius: 25px;
    border: 2px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
    font-family: reguler;
    color: rgb(255, 255, 255);
    background-color: rgb(103, 12, 12);
}

button:hover {
    background: rgb(61, 61, 169);
    transition: 0.5s;
}

/* info1 */
.info-1 {
    margin-top: 10vh;
}

.box {
    position: absolute;
    left: -10vh;
    margin-top: 10vh;
    width: 600px; 
    border-radius: 50px;
    height: 130px; 
    background-color: #000000; 
}

.jdl {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-60%, -50%); 
    color: #ffffff; 
    font-size: 33px; 
    font-family: walto;
}

.text-1 {
    position: absolute;
    top: 45vh;
    color: #fff;
    left: 5vh;
    padding: 10px;
    width: 50%;
    height: 25%;
    font-size: 25px;
    font-family: reguler;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5),
    -2px -2px 4px rgba(255, 0, 0, 0.5);
}

.img-1 {
    position: absolute;
    margin-top: 10vh;
    left: 110vh;
    background-color: #000000;
    width: 80vh;
    border-radius: 20px;
}

.bg-1 {
    width: 100%;
    height: auto;
    }
      
@media (min-width: 768px) {
    img {
        width: 50%; 
    }
}
@media (min-width: 1024px) {
    img {
    width: 40%; 
    }
}

.wb {
    position: relative;
    
}


/* text2 */
.text-2 {
    position: relative;
    top: 20vh;
    background-image: url(./img/wpp-batik.webp);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

/* bg slide 2 */
.bg-2 {
    width: 100%;
    height: auto;
    }
      
@media (min-width: 768px) {
    img {
        width: 50%; 
    }
}
@media (min-width: 1024px) {
    img {
    width: 40%; 
    }
}

.wb {
    position: relative;
    
}

.slider-container {
    overflow: hidden;
    width: 300px; /* Sesuaikan lebar slider sesuai kebutuhan */
    margin: 20px auto; /* Atur margin agar berada di tengah */
}

.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease; /* Animasi transisi */
}

.slide {
    width: 100vh; /* Sesuaikan lebar gambar sesuai kebutuhan */
}

/* Tombol navigasi */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}