@font-face {
    font-family: reguler;
    src: url(font/PTSans-Regular.ttf);
}

/* text reguler */
@font-face {
    font-family: ost;
    src: url(./font/ostrich-black.ttf);
}

/* font judul tmii */
@font-face {
    font-family: walto;
    src: url(font/waltographUI.ttf);
}

/* icon */
@font-face {
    font-family: roma;
    src: url(font/ROMANUS.otf);
}

/* judul */
@font-face {
    font-family: judul;
    src: url(./font/Catchy\ Mager\ Regular.ttf);
}



* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #370303;
}

.bg {
    width: 100%;
}

/* navbar */
.navbar-bg {
    width: 100%;
    height: 100%;  
    background-image: linear-gradient(rgba(0,0,0,0.40),rgba(0,0,0,0.40));
}

.navbar {
    width: 90%;
    pad: 30px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo {
    width: 100px;
    margin-top: 10px;
    cursor: pointer;
    font-family: walto;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 20px;
    font-family: roma;
    color: #fff;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    background: transparent;
}

li a:hover {
    background: #000000;
    transition: 0.5s;
    text-decoration: none;
}

.navbar a:hover {
    color: rgb(49, 40, 113);
}


/* button beli */
.btn-bt {
    width: 100px;
    padding: 2px;
    text-align: center;
    border-radius: 25px;
    border: 2px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
    font-family: reguler;
    color: rgb(255, 255, 255);
    background-color: rgb(103, 12, 12);
}

button:hover {
    background: rgb(61, 61, 169);
    transition: 0.5s;
}

/* info1 */
.text-1 {
    position: absolute;
    top: 60vh;
    box-sizing: border-box;
    color: #fff;
    border-radius: 10px;
    left: 5vh;
    padding: 10px;
    width: 50%;
    height: 25%;
    font-size: 20px;
    text-align: start;
    font-family: reguler;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5),
    -2px -2px 4px rgba(255, 0, 0, 0.5);
}

.img-1 {
    position: absolute;
    margin-top: 10vh;
    left: 110vh;
    background-color: #000000;
    width: 80vh;
    border-radius: 20px;
}

.jdl{
    position: absolute;
    background-color: #ffffff;
    width: 80vh;
    height: 10vh;
    border-right: 40px;
    left: 10vh;

}


/* footer */
.footer {
    background-color: #3333337c;
    color: #fff;
    text-align: center;
    position: fixed;
    font-size: 20px;
    bottom: 0;
    width: 100%;
    height: 2vh;
    padding: 5vh;
}
