<!DOCTYPE html>
<html ng-app="ticketing">

<head>
    <meta charset="UTF-8" />
    <title>Tiket Taman Mini Indonesia Indah</title>
    <script src="angularjs/angular.min.js"></script>
    <link rel="stylesheet" href="css/styletiket.css">
</head>

<body ng-controller="ticketCtrl">

    <!-- Navigation Bar -->
    <!-- <div class="navbar"> 
        <h1 class="logo">TMII</h1>
        <ul>
            <li><a href="">HOME</a></li>
            <li><a href="">ABOUT</a></li>
            <li><a href="">REGION</a></li>
            <li><a href="">CONTACT</a></li>
        </ul>
    </div> -->
    
    <!-- Title -->
    <div>
        <div>
            <h3>Tiket</h3>
            <h1>Taman Mini Indonesia Indah</h1>
        </div>
        <i style="font-size:24px" class="fa">&#xf104;</i>
    </div>

    <!-- Ticket Card -->
    <div class="card" ng-repeat="ticketdetail in ticketdetails">
        <h3>Tiket Masuk {{ticketdetail.jenis}}</h3>
        <p>{{ticketdetail.tanggal}}</p>
        <p>Harga: IDR {{ticketdetail.harga}}</p>

        <h4>Syarat dan Ketentuan:</h4>
        <ul class="isi-snk">
            <li ng-repeat="snkItem in ticketdetail.snk">{{snkItem.isi}}</li>
        </ul>
        <div class="quantity">
            <button ng-click="min($index)" ng-disabled="clickcounter === 0">-</button>
            <p>{{ticketdetail.quantity}}</p>
            <button ng-click="add($index)">+</button>
        </div>
    </div>

    <!-- Total -->
    <div class="grandtotal">
        <p>GrandTotal: {{hitungKeseluruhan()}}</p>
    </div>
    

    <script>
        var app = angular.module('ticketing', []);

        app.controller('ticketCtrl', function ($scope) {
            $scope.ticketdetails = [{
                jenis: 'Orang',
                tanggal: $scope.date,
                harga: '25000',
                quantity: 0,
                snk: [
                    { isi: 'Tiket berlaku hanya 1 kali sesuai tanggal kunjungan yang dipilih'},
                    { isi: 'Tiket tidak dapat dikembalikan (non-refundable)'},
                    { isi: 'Anak berusia 2 tahun ke atas atau dengan tinggi badan di atas 80cm dikenakan biaya tiket masuk'},
                    { isi: 'Kendaraan pengunjung diparkirkan di area parkir yang telah disediakan'},
                    { isi: 'Pihak manajemen tidak bertanggung jawab atas kesalahan pembeli pada saat proses reservasi online'}
                ]}, { 
                jenis: 'Mobil',
                tanggal: $scope.date,
                harga: '35000',
                quantity: 0,
                snk: [
                { isi: 'Tiket berlaku hanya 1 kali sesuai tanggal kunjungan yang dipilih'},
                    { isi: 'Tiket tidak dapat dikembalikan (non-refundable)'},
                    { isi: 'Belum termasuk dengan tiket pintu masuk (perorangan)'},
                    { isi: 'Anak berusia 2 tahun ke atas atau dengan tinggi badan di atas 80cm dikenakan biaya tiket masuk'},
                    { isi: 'Kendaraan pengunjung diparkirkan di area parkir yang telah disediakan'},
                    { isi: 'Pihak manajemen tidak bertanggung jawab atas kesalahan pembeli pada saat proses reservasi online'}
                ]}, {
                jenis: 'Motor',
                tanggal: $scope.date,
                harga: '15000',
                quantity: 0,
                snk: [
                { isi: 'Tiket berlaku hanya 1 kali sesuai tanggal kunjungan yang dipilih'},
                    { isi: 'Tiket tidak dapat dikembalikan (non-refundable)'},
                    { isi: 'Belum termasuk dengan tiket pintu masuk (perorangan)'},
                    { isi: 'Anak berusia 2 tahun ke atas atau dengan tinggi badan di atas 80cm dikenakan biaya tiket masuk'},
                    { isi: 'Tidak berlaku untuk Motor Jenis Listrik'},
                    { isi: 'Kendaraan pengunjung diparkirkan di area parkir yang telah disediakan'},
                    { isi: 'Pihak manajemen tidak bertanggung jawab atas kesalahan pembeli pada saat proses reservasi online'}
                ]}, {
                    jenis: 'Sepeda',
                    tanggal: $scope.date,
                    harga: '25000',
                    quantity: 0,
                    snk: [
                    { isi: 'Tiket berlaku hanya 1 kali sesuai tanggal kunjungan yang dipilih'},
                    { isi: 'Tiket tidak dapat dikembalikan (non-refundable)'},
                    { isi: 'Belum termasuk dengan tiket pintu masuk (perorangan)'},
                    { isi: 'Anak berusia 2 tahun ke atas atau dengan tinggi badan di atas 80cm dikenakan biaya tiket masuk'},
                    { isi: 'Tidak berlaku untuk Sepeda Jenis Listrik'},
                    { isi: 'Kendaraan pengunjung diparkirkan di area parkir yang telah disediakan'},
                    { isi: 'Pihak manajemen tidak bertanggung jawab atas kesalahan pembeli pada saat proses reservasi online'}
                ]},{
                    jenis: 'Orang + Sepeda',
                    tanggal: $scope.date,
                    harga: '35000',
                    quantity: 0,
                    snk: [
                    { isi: 'Tiket berlaku hanya 1 kali sesuai tanggal kunjungan yang dipilih'},
                    { isi: 'Tiket tidak dapat dikembalikan (non-refundable)'},
                    { isi: 'Sudah termasuk dengan tiket pintu masuk (perorangan)'},
                    { isi: 'Anak berusia 2 tahun ke atas atau dengan tinggi badan di atas 80cm dikenakan biaya tiket masuk'},
                    { isi: 'Jadwal Masuk Khusu Sepeda: 06.00 - 08.30; 15.00 - 18.00'},
                    { isi: 'Tidak berlaku untuk Sepeda Jenis Listrik'},
                    { isi: 'Tiket ini bukan tiket penyewaan Sepeda'},
                    { isi: 'Kendaraan pengunjung diparkirkan di area parkir yang telah disediakan'},
                    { isi: 'Pihak manajemen tidak bertanggung jawab atas kesalahan pembeli pada saat proses reservasi online'}
                ]},{
                    jenis: 'Bus/Truk',
                    tanggal: $scope.date,
                    harga: '60000',
                    quantity: 0,
                    snk: [
                    { isi: 'Tiket berlaku hanya 1 kali sesuai tanggal kunjungan yang dipilih'},
                    { isi: 'Tiket tidak dapat dikembalikan (non-refundable)'},
                    { isi: 'Belum termasuk dengan tiket pintu masuk (perorangan)'},
                    { isi: 'Anak berusia 2 tahun ke atas atau dengan tinggi badan di atas 80cm dikenakan biaya tiket masuk'},
                    { isi: 'Kendaraan pengunjung diparkirkan di area parkir yang telah disediakan'},
                    { isi: 'Pihak manajemen tidak bertanggung jawab atas kesalahan pembeli pada saat proses reservasi online'}
                ]}
            ];

            $scope.add = function (index) {
                $scope.ticketdetails[index].quantity++;
            };

            $scope.min = function (index) {
                if ($scope.ticketdetails[index].quantity > 0) {
                    $scope.ticketdetails[index].quantity--;
                }
            };
            
            $scope.hitungTotal = function (ticketdetail) {
                return ticketdetail.harga * ticketdetail.quantity;
            };

            $scope.hitungKeseluruhan = function () {
                var grandTotal = 0;
                for (var i = 0; i < $scope.ticketdetails.length; i++) {
                    grandTotal += $scope.hitungTotal($scope.ticketdetails[i]);
                }
                return grandTotal;
            };
        });
    </script>
</body>

</html>